 *,*:before,*:after {
   -webkit-box-sizing:border-box;
           box-sizing:border-box;
 }
// colors

//$purpil        ;

$purpil        : rgb(195,170,210);
$lightgray     : rgb(209,211,212);
$bg_gray       : rgb(237,237,237);
$text          : rgb(179,179,179);

h1 {
  color: $purpil;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}
h2 {
  color: $purpil;
  text-transform: uppercase;
  font-weight: normal;
  margin: 15px 0 ;
  text-align: center;
}
.clear {clear: both;}
.wrapper {
  max-width: 970px;
  margin: 0 auto;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: Helvetica,sans-serif;
  padding: 0 20px 0 20px;

  &.open {
    overflow: hidden;

    nav {
      position: fixed;
      z-index: 1;
      background-color: white;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .search {
        display: block;
      }
      .main-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 26px;
        & > li { display: block;}
        & > li:hover > ul {
          padding: 10px 0;
          font-size: 18px;
          display: block;
        }
      }
    }
  }

}

header {
  margin-bottom: 15px;
  padding-top: 20px;

  .header-logo {
    img {
      max-width: 100%;
      width: 150px;
    }
  }
  nav {
    color: $lightgray;
    a {
      color: inherit;
      text-decoration: inherit;
    }
    .search {
      display: none;
      position: relative;
      margin: 0 auto;
      input {
        width: 35px;
        border: none;
        background: white url(../images/lupa.png) no-repeat 3px center;
        transition: all .3s;
        padding: 10px 5px 10px 40px;
        color: $purpil;

        &:focus {
          width: 170px;
          border: 1px solid $bg_gray;
        }
      }
    }
    .main-menu {
      & > li {
        text-transform: uppercase;
        &:hover > a { color: $purpil; }
        &.open > a {
          color: $purpil;
        }
        & > ul {
          text-transform: capitalize;
          & > li {
            &:hover {
              color: $purpil;
            }
          }
        }
      }
    }
    ul {
      display: none;
      padding: 0;
      text-align: center;
      list-style: none;
    }
    .nav-toggler {
      position: fixed;
      top:20px;
      right: 20px;
      width: 50px;
      height: 50px;
      padding: 5px;

      & > div {
        height: 4px;
        background-color: $text;
        margin-bottom: 11px;
        transition: all .3s;
      }
      &:hover {
        cursor: pointer;
        & > div {
          background-color: $purpil;
        }
      }

      &.open {
        & > div {background-color: $purpil}
        & > div:nth-child(2) { opacity: 0; }
        & > div:first-child {transform: rotate(45deg) translate(13px, 12px);}
        & > div:last-child { transform: rotate(-45deg) translate(8px, -8px);}
      }
    }
  }
}
main {
  padding-bottom: 70px;

  .slider {
    width: 100%;
    height: 35vh;
    margin-bottom: 15px;
    z-index: 0;

    .slide {
      background-size: cover;
      background-position: center;

      .slidecontent {
        h1 {
          background-color: rgba(255,255,255,.7);
          padding: 10px 0;
        }
      }
    }
  }
  #slideposition {
    background-color: black;
    text-align: center;
    margin-top: -36px;
    z-index: 1;
    ul {
      padding: 0;
      li {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: white;
        margin: 0 5px;
        opacity: 0.7;

        &:hover {
          cursor: pointer;
        }
        &.active {
          opacity: 0.9;
        }
      }
    }
  }

  article{
    color: $text;
    padding: 5px;
    margin-bottom: 20px;
    &.home {
      background-color: $bg_gray;
      p {
        text-align: center;
      }
    }
    &.single {
      margin-bottom: 30px;
      p {
        text-align: justify;
      }
    }
  }
  .places {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: $purpil;
    margin-bottom: 20px;
  }
  .places-header {
    height: 30vh;
    background-position: center;
    background-size: cover;
    a:first-child {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .sub-pages {
    article {
      padding: 0;
      .article-image {
        background-position: center;
        background-size: cover;
        height: 35vh;
        width: 100%;
        margin-bottom: 17px;
      }
      .article {
        position: relative;
        margin-bottom: 17px;
        h2 {
          text-align: center;
          font-size: larger;
        }
        .more {
          text-transform: uppercase;
          bottom: 10px;
          left: 10px;
          color: gray;
          font-size: 12px;
          text-align: center;
          margin-bottom: 26px;
          a {
            color: inherit;
            text-decoration: inherit;
          }
        }
      }
    }
  }
  #map {
    width: 100%;
    height: 40vh;
  }
  .contact-us {

    display: grid;
    // grid-gap: 10px;
    // grid-template-areas:
    //   "a1 a1"
    //   "a2 a4"
    //   "a3 a4"
    //   "a5 a5";
    // h1 {
    //   grid-area: a1;
    // }
    input {
      border: 1px solid $lightgray;
      padding: 10px;
      color: $purpil;
      margin-bottom: 10px;
      &:focus {
        border-color: $purpil;
        &:invalid {
          border-color: #cc8181;
          -webkit-box-shadow: none;
                  box-shadow: none;
        }
      }
    }
    textarea {
      margin-bottom: 10px;
      border: 1px solid $lightgray;
      padding: 10px;
      color: $purpil;
      &:focus {
        border-color: $purpil;
      }
    }
    input[type="submit"] {
      color: white;
      text-transform: uppercase;
      background-color: $lightgray;
      //grid-area: a5;
    }
    // .a2 {
    //   grid-area: a2;
    // }
    // .a3 {
    //   grid-area: a3;
    // }
    // .a4 {
    //   grid-area: a4;
    // }
  }

  .success {
    background-color: #a7c9a7;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    border-left: 9px solid #529052;
    h4 {
      margin: 0;
    }
  }
  .error {
    background-color: #F76054;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    border-left: 9px solid #BB443C;
    h4 {
      margin: 0;
    }
  }
  .seach-results {
    .search-header {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: gray;
    }
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      color: $purpil;
    }
    input[type="submit"] {
      color: white;
    }
    article {
      border-bottom: 2px solid $bg_gray;
      .title {
        background-color: $bg_gray;
        padding: 4px;
      }
      p {
        font-size: 10px;
        margin-top: 3px;
      }
      h2,h1,h3 {
        font-size: 14px;
        margin: 0;
        margin-top: 5px;
        text-align: left;
      }
      b {
        border-bottom: 1px dotted black;
      }
    }
    article:last-child {
      border-bottom: none;
    }
  }
}
footer {
  color: $purpil;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 20px 0;
  font-size: 12px;
  a {
    text-decoration: inherit;
    color:inherit;
  }
}

@media (min-width: 45em) {
  header {
    .header-logo {
      float: left;
      position: absolute;
      z-index: 1;
      img { width: 185px; }
    }
    nav {
      position: relative;
      li.open > a { color: $purpil; }
      .search {
        display: inline-block;
        float: right;
        margin-left: 20px;
        top: -9px;
        position: absolute;
        right:0;
      }
      .nav-toggler { display: none; }
      .lang-menu {
        display: block;
        text-align: right;
        padding-right: 59px;
        & > li {
          display: inline-block;
          margin-left: 5px;
        }
      }
      .main-menu {
        display: block;
        text-align: right;
        & > li {
          display: inline-block;
          margin-left: 7px;
        }
      }
      .sub-menu.open {
        display: block;
        position: absolute;
        width: 100%;
        background-color: white;
        border-top: 2px solid $text;
        border-bottom: 2px solid $text;
        padding: 10px;
        left: 0;
        margin: 0;
        z-index: 1;
        & > li {
          width: 33%;
          display: inline-block;
          vertical-align: top;
          text-align: left;
          & > a { text-transform: uppercase; }
          ul {
            margin-top: 10px;
            display: block;
            text-align: left;
            font-size: 13px;
          }
        }
      }
    }
  }
  main {
    .sub-pages {
      article {
        height: 170px;
        margin-bottom: 0;
        .article-image {

          height: 100%;
          width: 200px;
          margin-bottom: 0;
          float: left;
        }
        .article {
          margin-bottom: 0;
          float: right;
          width: calc(100% - 200px);
          background-color: $bg_gray;
          padding: 7px;
          height: 100%;
          p {
            font-size: 14px;
            margin: 0;
          }
          h2 {
            text-align: left;
            margin: 2px 0 4px 0;
          }
          .more {
            position: absolute;
            font-size: 10px;
            text-align: left;
            margin-bottom: 0;
          }
        }
      }
      article:nth-child(even) {
        .article-image {
          float: right;
        }
        .article {
          background-color: white;
          float: left;
        }
      }
      article:first-child {
        .article {
          &:after {
            content: "";
            height: 50px;
            width: 131px;
            position: absolute;
            right: 0;
            top:-33px;
            background-image: url(../images/hills.png);
            background-size: cover;
          }
        }
      }
    }
    .sub-items {
      article {
        .places-header {
          width: 200px;
          height: 100px;
          float: left;
          margin-right: 20px;
          margin-bottom: 20px;
        }
        h2 {
          text-align: left;
          margin-top: 0;
        }
      }
    }

  }
}
